h1 {
    text-align: center;
    margin-bottom: 50px;
}

.tag {
    border: solid;
    width: 110px;
    height: 50px;
    margin-right: 5px;
    text-align: center;
}

.flex-grid {
    display: flex;
    flex-wrap: wrap;
    padding-left: 5%;

}

.flex-grid-tags {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%;
    margin-bottom: 50px;
}

.col {
    justify-content: start;
    display: inline-block;
    text-align: center;
    border: solid;
    margin-bottom: 15px;
    margin-right: 5px;
    padding: 1.5px;
    width: 30%;
}

.course {
    width: 100px;
}