body {
    font-family: 'Raleway', sans-serif;
}

.header {
    height: 200px;
    width: 100%;
    background-color: #3c64c2;
    margin-right: -10px;
    margin-left: -10px;
    padding-left: 100px;
    margin-top: -20px;
    padding-top: 100px;
    margin-bottom: 50px;
    letter-spacing: 5px;
    display: flex;
}

img.logo {
    width: 200px;
    height: 200px;
    margin-top: -50px;
    margin-left: 300px;
}

h1 {
    color: #FEFEFE;
    font-size: 50px;
}

.tag {
    border-color: #6E8ED7;
    background-color: #6E8ED7;
    color: #FEFEFE;
    border: solid;
    border-radius: 50px;
    width: 80%;
    height: 50px;
    margin-right: 5px;
    text-align: center;
}

.flex-grid {
    display: flex;
    flex-wrap: wrap;
    padding-left: 5%;
}

.flex-grid-tags {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%;
    margin-bottom: 50px;
}

.col {
    justify-content: start;
    display: inline-block;
    text-align: center;
    border: solid;
    border-color: #DEDDDD;
    border-width: 2px;
    margin-bottom: 15px;
    margin-right: 15px;
    padding: 1.5px;
    width: 30%;
}

img.course {
    margin-top: 5%;
    width: 30%;
}